body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  header {
    background-color: #b63939;
    color: #fff;
    padding: 20px;
  }
  #logo-button:hover {
    color: rgb(139, 132, 132);
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  main {
    padding: 20px;
  }
  h1 {
    color: #333;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #ccc;
    color: #000000;
    text-decoration: none;
    border-radius: 0.3em;
  }
  
  .button:hover {
    background-color: #999;
  }
  .subheader1{
    margin-top: -30px;
  }