<html> 
  <main>
    <section id="accountMain">
        <h1 class="subheader1">Account</h1>
        <p>Here you can create a new account, sign in, and manage your profile information.</p>
    </section>
    <form>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
      <script src="../Scripts/account.js"></script>
  </main>
</html>